@use "../../../assets/styles/" as *;

.search {
  position: relative;
  padding: 24px;
  box-shadow: $box-shadow;
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 40px;
  .roundtrip,
  .booking {
    @include flex(flex-start, center);
  }

  .roundtrip {
    padding-left: 10px;
  }

  .booking {
    margin-bottom: 10px;

    .place,
    .date {
      @include flex(center, center);
    }

    .place {
      position: relative;
      padding: 10px;
      width: 55%;

      img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        margin: 0 -10px 0;
        transition: 0.3s ease;
        z-index: 1;

        &:hover {
          transform: rotate(180deg);
        }
      }

      &-from,
      &-to {
        width: 100%;
        padding: 10px 16px;
        border: 1px solid $secondary-color;
        border-radius: 8px;
        h2 {
          text-align: center;
          margin-bottom: 8px;
          font-size: 1.4rem;
          color: $secondary-color;
        }
      }
    }
    .date {
      border: 1px solid $secondary-color;
      border-radius: 8px;
      padding: 10px;
      &-from,
      &-to {
        width: 100%;
        h2 {
          text-align: center;
          font-size: 1.4rem;
          color: $secondary-color;
        }
      }

      .date-input {
        font-size: 20px;
      }
    }
    .date {
      border: 1px solid $secondary-color;
      border-radius: 8px;
      padding: 10px;
      &-from,
      &-to {
        width: 100%;

        h2 {
          text-align: center;
          font-size: 1.4rem;
          color: $secondary-color;
        }
      }
      &-from {
        border-right: 1px solid $secondary-color;
        padding-right: 5px;
      }

      &-to {
        padding-left: 5px;
      }
      .date-input {
        font-size: 20px;
      }
    }
  }

  &-btn {
    position: absolute;
    bottom: 0px;
    right: 40px;
    transform: translateY(50%);
  }
}
