$tablet-width: 1024px;
$mobile-width: 600px;

$blue-color: #007bff;
$indigo-color: #6610f2;
$purple-color: #6f42c1;
$pink-color: #e83e8c;
$red-color: #dc3545;
$orange-color: #fd7e14;
$yellow-color: #ffc107;
$green-color: #28a745;
$teal-color: #20c997;
$cyan-color: #17a2b8;
$white-color: #fff;
$gray-color: #6c757d;
$gray-dark-color: #343a40;
$primary-color: #007bff;
$secondary-color: #858d94;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;
$light-color: #f8f9fa;
$dark-color: #343a40;

$top-bar-color: #00613c;
$black-color: #000;

$box-shadow: 4px 4px 20px 1px hsla(0, 0%, 54.5%, 0.4);
