@use "./variables" as *;
@use "./mixins" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: $black-color;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 997px;
  padding: 0 30px;
  margin: 0 auto;

  @include tablet {
    padding: 0 20px;
  }

  @include mobile {
    padding: 0 10px;
  }
}
.active {
  color: $orange-color;
}
.slide-locations__item {
  width: 240px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;

  img {
    height: 100%;
    object-fit: cover;
  }
}
.center .slick-center .slide-locations__item {
  transform: scale(1);
  z-index: 1000;
  pointer-events: all;
  opacity: 1;
}

.center .slide-locations__item {
  opacity: 0.7;
  pointer-events: none;
  transform: scale(0.8);
}
// .center .slick-active.slick-cloned {
//   width: 240px !important;
// }

// .center .slick-cloned {
//   width: 240px !important;
// }

.center .slick-prev,
.center .slick-next {
  height: 48px;
  width: 48px;
}
.center .slick-prev {
  left: 25px;
}
.center .slick-next {
  right: 25px;
}
.center .slick-prev:before,
.center .slick-next:before {
  color: $gray-dark-color;
  font-size: 4.8rem;
}
