@use "../../assets//styles/" as *;
.search {
  @include flex(center, center);
  column-gap: 10px;
  padding: 0 10px;
}

.schedules {
  table {
    table-layout: fixed;
    height: 668px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $gray-color;

    thead {
      border: 1px solid $gray-color;
      background-color: #f6f6f6;
      tr {
        th {
          padding: 10px 0;
          padding-left: 24px;
          font-size: 1.4rem;
          font-weight: 700;
          text-align: left;
        }
      }
    }
    tbody {
      th,
      td {
        padding: 10px 0;
        padding-left: 24px;
        font-size: 1.4rem;
        font-weight: 700;
        text-align: left;
        color: $secondary-color;
      }
      .placeTo > * {
        color: $secondary-color !important;
      }
      .detail > * {
        color: #009344 !important;
      }
      .head {
        th {
          background-color: #fff7f5;
          font-size: 1.6rem;
          color: $orange-color;
          position: relative;
          span {
            position: absolute;
            top: 52%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}
