@use "../../../assets/styles/" as *;
.inputSearch {
  position: relative;
  width: 100%;
  input {
    width: 100%;
    font-size: 17px;
    border-radius: 16px;
    border: 1px solid $gray-color;
    padding: 10px 30px;
    outline: none;

    &.sm {
      padding: 6px 10px;
      font-size: 1.4rem;
    }
  }
  .btn-search {
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
  }
}
