.login {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  margin: 5rem auto;
  font-size: 1.4rem;

  h1 {
    font-weight: 500;
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    margin-top: 20px;
  }
}
