@use "../../../assets/styles/" as *;
.header {
  .top-bar {
    background-color: $top-bar-color;
    color: $white-color;
    font-size: 1.4rem;
    padding: 2px 0;

    &-main {
      @include flex(space-between, center);
    }
    .info {
      @include flex(center, center);
      column-gap: 20px;

      .item,
      .item > .icon {
        @include flex(null, center);
      }
    }

    .link {
      @include flex(center, center);
      column-gap: 16px;
      font-size: 1.4rem;

      span {
        display: inline-block;
      }
      img {
        width: 25px;
        height: 25px;
      }

      .link-title {
        font-size: 1.4rem;
        color: $white-color;
        text-transform: uppercase;
        transform: translateY(-50%);
      }
    }
  }

  .nav {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    &-main {
      @include flex(space-between, center);

      .nav-icon {
        height: 48px;
        width: 181px;
      }
    }
  }
}
