@use "../../../assets/styles/" as *;
.info {
  h1 {
    font-size: 2.4rem;
    font-weight: 500;
    color: $orange-color;
    margin: 32px 0;
  }
  .content {
    @include flex(center, flex-start);
    column-gap: 24px;
    .left,
    .right {
      width: 50%;
    }

    .left {
      border-radius: 8px;
      border: 1px solid $secondary-color;
      padding-bottom: 20px;

      & > * {
        padding: 0 20px;
      }
      .title {
        font-size: 1.4rem;
        font-weight: 500%;
        background-color: #f7f7f7;
        text-transform: uppercase;
        height: 40px;
        line-height: 40px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }
      .avatar {
        position: relative;
        @include flex(center, center);
        padding-top: 10px;
        .input-avatar {
          position: absolute;
          width: 96px;
          height: 90px;
          opacity: 0;
        }
        img {
          width: 96px;
          height: 90px;
        }
      }

      .item {
        @include flex(flex-start, center);
        font-size: 1.5rem;
        margin-top: 15px;
        label {
          width: 110px;
        }

        & > * ~ * {
          flex: 1;
          margin: 0;
        }
      }
    }
    .right {
      border-radius: 8px;
      border: 1px solid $secondary-color;
      padding-bottom: 20px;

      & > * {
        padding: 0 20px;
      }
      .title {
        font-size: 1.4rem;
        font-weight: 500%;
        background-color: #f7f7f7;
        text-transform: uppercase;
        height: 40px;
        line-height: 40px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }
      .btn-address {
        margin: 20px 0;
      }
      &-content {
        &.active {
          display: none;
        }
        .item {
          @include flex(flex-start, center);
          font-size: 1.5rem;
          margin-top: 10px;
          label {
            width: 110px;
          }

          & > * ~ * {
            flex: 1;
            margin: 0;
          }
        }
      }
    }
  }
  .btn-update {
    @include flex(flex-end, center);
    width: 100%;
    margin: 40px 0;

    & > * {
      width: 30%;
    }
  }
}
