@use "../../assets/styles/" as *;

.common-routes {
  margin: 15px 0 40px;
  h3 {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
    color: $orange-color;
  }

  .content {
    display: grid;
    row-gap: 24px;
    column-gap: 30px;
    grid-template-columns: repeat(2, 1fr);

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
    .item {
      @include flex(flex-start, center);
      height: 76px;
      overflow: hidden;
      border-radius: 8px;
      box-shadow: 1px 2px 4px 0 rgb(0 0 0/30%);
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
      .img {
        height: 100%;
        width: 160px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .text {
        flex: 1;
        padding-right: 10px;

        .title {
          @include flex(flex-end, center);
          font-size: 2rem;
          font-weight: 700;
          text-transform: uppercase;
        }
        .detail {
          @include flex(space-evenly, center);
          font-size: 1.5rem;
          color: $gray-dark-color;

          @include mobile {
            font-size: 1.2rem;
          }

          .price {
            color: $orange-color;
          }
        }
      }
    }
  }
}

.slide-news {
  margin-bottom: 30px;
  & > * ~ * {
    margin-bottom: 10px;
  }
  .title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: $orange-color;
    text-transform: uppercase;
  }
  .description {
    font-size: 2.2rem;
    color: $secondary-color;
    text-align: center;
  }

  &__list {
    &__item {
      height: 180px;
      position: relative;
      border: 1px solid $white-color;
      border-radius: 8px;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      div {
        position: absolute;
        width: 100%;
        height: 48px;
        bottom: 0;
        left: 0;
        opacity: 0.6;
        background-color: $gray-dark-color;
      }
      &__title {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 8px;
        font-size: 1.4rem;
        font-weight: 500;
        color: $white-color;
      }
    }
  }
  .button {
    @include flex(center, center);
  }
}

.slide-locations {
  position: relative;
  top: 0;
  left: 0;
  margin: 100px 0 50px;
  text-align: center;
  overflow: hidden;
  & > * ~ * {
    margin-bottom: 10px;
  }
  &__title {
    font-size: 30px;
    font-weight: 700;
    color: $orange-color;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 22px;
    color: $gray-dark-color;
  }
  .slide-locations__item {
    &__address {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      font-size: 1.5rem;
      color: $white-color;

      & > * ~ * {
        margin: 10px 0;
      }

      .location,
      .name {
        text-align: center;
      }

      .name {
        font-size: 2.4rem;
      }
    }
  }
}

.more-infos {
  margin: 43px 0;
  @include flex(space-between, center);

  @include mobile {
    flex-wrap: wrap;
  }

  .item {
    @include flex(space-between, flex-start);
    .img {
      margin: 0 16px;
    }
    .text {
      .title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 10px;
      }
      .desc {
        font-size: 1.4rem;
        color: $gray-dark-color;
      }
    }
  }
}

.quality {
  h1 {
    font-size: 4rem;
    color: $orange-color;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    margin: 20px 0;

    &::before,
    &::after {
      content: "";
      background-color: $orange-color;
      height: 1px;
      width: 90%;
      position: absolute;
      vertical-align: middle;
      display: inline-block;
    }

    &::before {
      left: -78%;
      top: 50%;
    }
    &::after {
      right: -78%;
      top: 50%;
    }
  }

  .content {
    @include flex(flex-start, center);

    .item {
      @include flex(flex-start, flex-start);

      .text {
        padding: 0 8px;

        .title {
          font-size: 5rem;
          font-weight: 700;
          color: $orange-color;
          margin-bottom: 2rem;
        }
        .sub {
          font-size: 1.3rem;
          font-weight: 700;
          color: $dark-color;
          margin-bottom: 10px;
        }

        .desc {
          font-size: 1.3rem;
          color: $gray-dark-color;
        }
      }
    }
  }
}
