@use "../../../assets/styles/" as *;
.footer {
  border-top: 1px solid hsla(0, 0%, 59.2%, 0.5);
  padding-top: 24px;

  h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
  }

  &-main {
    @include flex(space-between, center);
    width: 100%;
    flex-wrap: wrap;
    font-size: 1.4rem;
  }

  .info {
    padding-right: 6rem;

    .hotline {
      @include flex(space-between, center);
      .phone {
        font-size: 3.6rem;
        color: $orange-color;
        font-weight: 900;
      }
      img {
        width: 128px;
        height: 48px;
      }
    }
    .address {
      margin-top: 10px;

      p {
        margin-bottom: 10px;
      }
    }
  }

  .link {
    @include flex(space-between, center);
    gap: 18rem;
    margin-right: 6rem;
    text-transform: uppercase;
    h2 {
      color: $orange-color;
      margin-bottom: 1rem;
    }
    img {
      margin-left: 20px;
      height: 25px;
      width: 25px;
    }

    &-item {
      .content {
        @include flex(space-between, center);
        column-gap: 2rem;
        font-size: 2.5rem;

        img {
          margin-left: 0;
          width: inherit;
          height: inherit;
        }

        .item {
          @include flex(center, center);
          padding: 2px 10px;
          border-radius: 10px;
          color: $white-color;

          &.ios {
            background-color: $black-color;
          }

          &.android {
            background-color: $success-color;
          }

          .title {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .sub-nav {
    &-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px 16px;
      color: $gray-color;

      @include mobile {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    h2 {
      color: $orange-color;
      font-size: 1.2rem;
    }
    .item,
    .item__icon {
      @include flex(flex-start, center);
    }
  }
  .service {
    @include flex(space-between, center);
    margin-top: 3rem;
    border-bottom: 1px solid $black-color;
  }
  .text {
    margin: 1.6rem 0;
    font-size: 1.3rem;
    text-align: center;
  }
}
