@use "../../../assets/styles/" as *;
.text-box {
  position: relative;
  margin: 20px 0px;
  input {
    width: 100%;
    padding: 8px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid $gray-color;
    transition: 0.3s ease;
    font-size: 1.5rem;

    &:focus {
      border-bottom-color: $orange-color;
    }

    &::placeholder {
      text-transform: capitalize;
    }
  }
  .icon {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 1.6rem;
  }

  .error {
    font-size: 1.2rem;
    margin-top: 10px;
    color: $red-color;
  }
}
