@use "../../assets/styles/" as *;
.recruitment {
  .search-control {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    .item {
      .title {
        margin-bottom: 10px;
        font-size: 1.4rem;
        color: $orange-color;

        & span {
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
  }
  .search-btn {
    @include flex(center, center);
    margin: 50px 0;
  }

  hr {
    width: 100%;
    border: 1px solid $orange-color;
    margin-bottom: 30px;
  }

  .list {
    .item {
      margin-bottom: 5px;
      padding: 15px;
      border: none;
      border-bottom: 1px solid $secondary-color;
      transition: 0.3s ease;

      &:hover {
        color: $orange-color !important;
        box-shadow: $box-shadow;
        background-color: rgb(227 243 249);
      }

      .content {
        @include flex(flex-start, center);
        .icon {
          color: $orange-color;
          margin-right: 10px;
          font-size: 1.6rem;
        }
      }

      .info {
        width: 75%;
        .title {
          font-size: 1.4em;
          font-weight: 700;
          line-height: 20px;
        }
        .detail {
          @include flex(space-between, center);
          padding-left: 15px;
          font-size: 1.4rem;
          color: $secondary-color;
          line-height: 20px;
        }
      }

      .deadline {
        @include flex(flex-end, center);
        flex-direction: column;
        padding-left: 50px;
        font-size: 1.4rem;
        width: 25%;
        color: $secondary-color;
        text-align: center;
      }
    }
  }
}
