@use "../../../assets//styles/" as *;
.radio {
  @include flex(center, center);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: capitalize;
  margin-right: 26px;
  cursor: pointer;

  input {
    appearance: none;
    display: inline-block;
    margin-right: 6px;
    width: 20px;
    height: 20px;
    padding: 3px;
    background-clip: content-box;
    border: 2px solid $orange-color;
    background-color: $white-color;
    border-radius: 50%;

    &:checked {
      background-color: $orange-color;
    }
  }
}
