@use "../../../assets/styles/" as *;
.check-box {
  @include flex(flex-start, center);
  column-gap: 5px;
  font-size: 1.4rem;
  margin: 2rem 0;
  cursor: pointer;

  input {
    height: 18px;
    width: 18px;
    border-radius: 0.25rem;
    border: 1px solid $black-color;
    cursor: pointer;

    &:checked {
      accent-color: $orange-color;
    }
  }
}
