@use "../../../assets/styles/" as *;
.btn {
  @include flex(center, center);
  column-gap: 10px;
  text-transform: capitalize;
  font-size: 1.6rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  color: $white-color;
  cursor: pointer;
  &-exsm {
    padding: 1px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 15px;
  }
  &-sm {
    padding: 3px 10px;
    font-size: 16px;
  }
  &-lg {
    padding: 10px 16px;
  }

  &-block {
    padding: 10px 16px;
    width: 100%;
  }

  .icon {
    margin-top: 0.2rem;
    font-size: 2.4rem;
  }
}
.bg-orange {
  background-color: $orange-color;
}
.bg-red {
  background-color: $red-color;
}

.bg-black {
  background-color: $black-color;
}

.bg-white {
  background-color: $white-color;
  color: $orange-color;
  box-shadow: $box-shadow;
  border-radius: 1.6rem;
}

.bg-orange-secondary {
  color: #ef5222;
  background-color: rgba(239, 82, 34, 0.2);
}

.bg-white-black {
  background-color: $white-color;
  color: $black-color;
  border: 1px solid $gray-color;
  border-radius: 20px;
  padding: 12px 27px;
  font-size: 1.4rem;
}

.bg-white-orange {
  background-color: $white-color;
  color: $orange-color;
  border: 1px solid $gray-color;
  border-radius: 20px;
  padding: 12px 27px;
  font-size: 1.4rem;
}

.bg-transparent {
  background-color: transparent;
  column-gap: 0;
  text-transform: uppercase;
}
