@use "../../../assets/styles/" as *;
.inputDate {
  width: 100%;
  input {
    width: 100%;
    border-radius: 8px;
    outline: none;
    border: 1px solid $gray-color;

    &.sm {
      padding: 5px 10px;
      font-size: 1.4rem;
    }
  }
}
