@use "../../../assets/styles/" as *;
.history {
  padding: 10px 0;
  .heading {
    @include flex(space-between, center);
    &-title {
      font-size: 2.4rem;
      font-weight: 500;
      color: $orange-color;
    }
  }
  .search {
    @include flex(space-between, flex-end);
    margin: 10px 0;
    .item {
      .title {
        font-size: 1.4rem;
        font-weight: 500;
        color: $secondary-color;
        margin-bottom: 5px;
      }

      &-btn {
        @include flex(null, flex-end);
        column-gap: 10px;
      }
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $gray-color;

    thead {
      background-color: #f6f6f6;
      tr {
        th {
          padding: 12px;
          font-size: 1.4rem;
          font-weight: 700;
          text-align: left;
          border: 1px solid $gray-color;
        }
      }
    }
    tbody {
      tr {
        td {
          padding: 12px;
          font-size: 1.5rem;
          font-weight: 500;
          text-align: left;
          color: $secondary-color;
          border: 1px solid $gray-color;
        }

        .route {
          @include flex(flex-start, center);
          outline: none;
          border: none;
        }
      }
    }
  }
}
